# sqlite database
*.db

# log
*.log

# osx system file
.DS_Store

# environment file
.env

# editer config
.vscode/*

# python virtual environment
python3_virtual_environment/*

# bert model
bert_model/*

