<%= render 'shared/logo' %>
<div class="d-flex justify-content-around mt-2">
  <%= link_to admin_explore_path, class: 'card btn btn-outline-info' do %>
    <div class="card-body p-5">
      <h5 class="card-title">Crawl Post</h5>
      <div class="card-text">Admin Only</div>
    </div>
  <% end %>
</div>
