<%= render 'shared/logo' %>
<div class="d-flex justify-content-around mt-2">
  <%= link_to reviews_path, class: 'card btn btn-outline-info' do %>
    <div class="card-body p-5">
      <h5 class="card-title">研究人員入口</h5>
    </div>
  <% end %>
  <%= link_to admin_statistics_path, class: 'card btn btn-outline-info' do %>
    <div class="card-body p-5">
      <h5 class="card-title">管理人員入口</h5>
    </div>
  <% end %>
</div>
