secret_key_base: your_secret_key_base
redis:
    url: redis://127.0.0.1:6379/0
database:
  username: your_username
  password: your_password
bert_as_service:
  url: http://0.0.0.0:8125
sidekiq:
  username: your_username
  password: your_username
baidu_aip:
  api_key: your_api_key
  secret_key: your_secret_key
