<div class="container">
  <div class="btn-toolbar">
    <label>Color by</label>
    <div class="btn-group btn-group-toggle ml-1 mr-2" data-toggle="buttons">
      <div class="btn btn-sm btn-outline-secondary active" id="color-by-gender-btn"><input type="radio">Gender</div>
      <div class="btn btn-sm btn-outline-secondary" id="color-by-sentiment-btn"><input type="radio">Sentiment</div>
      <div class="btn btn-sm btn-outline-secondary" id="color-by-cluster-btn"><input type="radio">Cluster</div>
    </div>
    <label>Size by</label>
    <div class="btn-group btn-group-toggle ml-1 mr-2" data-toggle="buttons">
      <div class="btn btn-sm btn-outline-secondary active" id="size-by-like-btn"><input type="radio">Like</div>
      <div class="btn btn-sm btn-outline-secondary" id="size-by-length-btn"><input type="radio">Length</div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-md-7">
      <div id="graph-container">
        <div id="graph"></div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div id="detail"></div>
    </div>
  </div>
</div>
<br>
<script>
  var data = <%= sanitize force_graph_data_formater(post, comments).to_json %>

  function adjustGraphSize(graph) {
    const container = document.getElementById('graph-container')
    graph.width(container.clientWidth).height(window.innerHeight - 100)
  }

  function removeChildren(dom) {
    while (dom.firstChild) { dom.removeChild(dom.firstChild) }
  }

  function setupGraph(graph, dom, data) {
    graph(dom).graphData(data)
      .backgroundColor('#f8f9fa')
      .dagMode('zin')
      .dagLevelDistance(Math.log2(data.nodes.length) * 3)
      .nodeVal('valLike')
      .nodeColor('genderColor')
      .onNodeClick((node) => {
        const detail = document.getElementById('detail')
        removeChildren(detail)
        detail.insertAdjacentHTML('afterbegin', node.html);
      })
      .linkWidth(2)
    adjustGraphSize(graph)
    window.addEventListener('resize', () => adjustGraphSize(graph))
    document.getElementById('color-by-gender-btn').addEventListener('click', () => graph.nodeColor('genderColor'))
    document.getElementById('color-by-sentiment-btn').addEventListener('click', () => graph.nodeColor('sentimentColor'))
    document.getElementById('color-by-cluster-btn').addEventListener('click', () => graph.nodeColor('clusterColor'))
    document.getElementById('size-by-like-btn').addEventListener('click', () => graph.nodeVal('valLike'))
    document.getElementById('size-by-length-btn').addEventListener('click', () => graph.nodeVal('valLength'))
  }
</script>
<style>
  img {
    max-width: 100%;
    max-height: 200px;
  }
</style>
