<div class="d-flex min-vh-100">
  <div>
    <div class="container">
      <%= render 'shared/logo' %>
      <%= render 'form', review: @review %>
      <%= link_to 'Back', reviews_path, class: 'btn btn-outline-secondary mt-2' %>
    </div>
  </div>
  <div class="w-100">
    <div class="container p-2">
      <%= render 'posts/post', post: @review.post, comments: @comments %>
    </div>
  </div>
</div>
